# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Backup files
*.bak
*.swp

# Postman files
*.postman_collection.json

# Coverage (si haces tests luego)
coverage/
